[Unit]
Description=Telegram Mirror Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/tg_mirror_bot
EnvironmentFile=/root/tg_mirror_bot/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=/root/tg_mirror_bot/venv/bin/python -m src
Restart=always
RestartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
