[Unit]
Description=Telegram Mirror Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tg_mirror_bot
EnvironmentFile=/root/tg_mirror_bot/.env
ExecStart=/root/tg_mirror_bot/venv/bin/python /root/tg_mirror_bot/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
